@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #e0a370, #01232E );
    }

    main {
        width: 80vw;
        height: 280px;
    }
    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login {
        float: right;
        width: 70%;
        height: 100%;
    }

}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #e0a370, #01232E );
    }

    main {
        width: 950px;
        height: 320px;
    }
    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login {
        float: left;
        width: 50%;
        height: 100%;
    }

    #login > p {
        font-size: 1em;
        margin: 10px 0px;
    }
    
}