@media screen and (min-width: 768px) {
    main {
        width: 80vw;
        height: 45vh;
    }
    #imagem {
        display: inline-block;
        width: 25vw;
        height: 47vh;
        border-radius: 20px 0px 0px 20px;
    }

    #login {
        display: inline-block;
        width: 53vw;
        padding: 5px;
        
        left: 50%;
        top: 50%;

        transform: translate(0%, -10%);
    }

    #senha, #email {
        width: 53vw;
        margin: 0px;
    }

    #isenha, #iemail {
        width: 47vw;
    }

    #entrar, #esqueci {
        width: 51vw;
    }
}